<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href= "/assets/styles/web.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belleza&family=Marcellus&display=swap" rel="stylesheet">
    <title> {{page.title}} </title>
</head>
<link rel = "icon" type = "image/png" href = assets/images/onigiri-favicon-192x192.png>
<body>
    <nav>
        <div class = "logo">
            <a href = "index.html"> {{page.title}} </a>
        </div>
        <div class = "nav-items">
            <a href = "portfolio.html"> Portfolio </a>
            <a href = "writing.html"> Writing </a>
            <a href = "my-interests.html"> Interests </a>
            <a href = "about.html"> About </a>
        </div>
    </nav>

    <div class = module>
        <ul class="myposts">
            {% for post in site.posts %}
                <li><a href="{{ post.url }}">{{ post.title}}</a>
                <span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>