---
layout: default
---
<!-- While pretty much all of the below code looks redundant and reducible unfortunately the way I have done it 
it is not because I have to iterate through the image row and then do the caption row after, keeping the "row" div 
outside of the for loop. -->

<a href = "{{ site.baseurl }}/writing.html"> Work </a>

<div class = "vertical-flexbox">
    {% for post in site.posts %}
            {% if forloop.index <= 3 %}
                <div class = "caption"> 
                    <a href="{{ post.url | relative_url }}"> {{ post.title }} </a>
                    <br>
                    <small> {{ post.date | date: "%b %-d, %Y" }} </small>
                </div>
            {% endif %}
    {% endfor %}
</div>
    
    <br> 
    <br>

<a href = "{{ site.baseurl }}/interests.html"> Interests </a>

<div class = "vertical-flexbox">
    {% assign reversed_interests = site.interests | reverse %}
    {% for post in reversed_interests %}
            {% if forloop.index <= 3 %}
                <!--"post.href" accesses the url specified in the front matter of the post being rendered with 
                    the "href" variable. This allows me to use the blog post format to directly href to external
                    links, automating the process of putting in hrefs onto an html page conventionally. -->
                <div class = "caption"> 
                    <a href="{{ post.href | relative_url }}"> {{ post.title }} </a>
                    <br>
                    <small> {{ post.date | date: "%b %-d, %Y" }} </small>
                </div>
            {% endif %}
    {% endfor %}
</div>
