---
layout: default
---
<a href = "{{ site.baseurl }}/interests.html"> Interests </a>

<br><br>

<div class = "vertical-flexbox">
    {% assign reversed_interests = site.interests | reverse %}
    {% for post in reversed_interests %}
            <!--"post.href" accesses the url specified in the front matter of the post being rendered with 
                the "href" variable. This allows me to use the blog post format to directly href to external
                links, automating the process of putting in hrefs onto an html page conventionally. -->
            <div class = "caption"> 
                <a href="{{ post.href }}"> {{ post.title }} </a>
                <br>
                <small> {{ post.date | date: "%b %-d, %Y" }} </small>
            </div>
    {% endfor %}
</div>